[submodule "3rdParty/civetweb"]
	path = 3rdParty/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "3rdParty/dr_libs"]
	path = 3rdParty/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "3rdParty/eventpp"]
	path = 3rdParty/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "3rdParty/glaze"]
	path = 3rdParty/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdParty/zpp_bits"]
	path = 3rdParty/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "3rdParty/tracy"]
	path = 3rdParty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "3rdParty/libscn"]
	path = 3rdParty/libscn
	url = https://github.com/eliaskosunen/scnlib.git
